.footer {
  border-top: 1px solid #fff;
}

.footer-top {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  font-size: 20px;
  display: flex;
  gap: 20px;
}

.footer-bottom {
  border-top: 1px solid #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
}
